.clsObjetHead .sapMObjectNumberText{
	font-family: "72", Arial, Helvetica, sans-serif !important;
	font-size: 1.125rem !important;
    line-height: 1.8rem;
    color: #333333;	
}
.clsErrBtnPopover{
	    position: absolute !important;
}
.clsText {
    border-bottom: 1px solid #bfbfbf !important;
}

.clsAllAttachment li.sapMGHLI {
    background: #f7f7f7 !important;
}

.clsAllAttachment li span.sapMGHLITitle {
    font-weight: bold;
}

.clsMadiUplod .sapMUCNoDataText {
    color: #ee0000;
}

.clsWFTable {
    padding-left: 10%;
}

.clsTaxonomyHeader {
    position: sticky !important;
    top: 0px;
    width: 100%;
    background: white;
}

.sapMComboBoxTextFieldArrow {
    font-size: medium !important;
}

.clsTaxSett header.sapMDialogTitle > div {
    background-color: #e31837 !important;
}

.clsTaxSett header.sapMDialogTitle h2 {
    color: white !important;
}

.simpleFormTitle .sapUiFormTitle {
    display: none;
}

.toolCostSimpleFormTitle .sapUiFormTitle {
    text-align: center;
}

.toolCostHead div.sapMFlexItem {
    width: 50%;
}

.custClassHeader {
    background-color: #e31837 !important;
}

.custClsHeaderTitle {
    color: white !important;
    font-weight: bold !important;
}

.custClassTblTool {
    background-color: #eff4f9;
}

.clsRadioLabel {
    padding-top: 8px;
}

.clsPanelHbox .clsPanelText {
    font-weight: bold;
}

.clsPanelHbox > div {
    padding-right: 40px;
}